<div class="row my-5">
  <h1 class="text-center">Contact me</h1>
  <div class="col-12">
    <div id="contact">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <a href="mailto:mana2023fld@gmail.com">
            <span><i class="fa-solid fa-envelope"></i></span>
            mana2023fld@gmail.com
          </a>
        </div>
        <span> | </span>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <a href="https://www.linkedin.com/in/mana-misawa/" target=”_blank”>
            <span><i class="fa-brands fa-linkedin"></i></span>
            linkedin.com/in/mana-misawa/
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
