.card-product {
  display: flex;
  margin: 30px auto;
  align-items: center;
}

.project-photo {
  width: 50%;
  object-position: center;
  object-fit: cover;
}

.divider {
height: 2px;
background-color: rgba(10,10,10,0.2);
width: 100%;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btns {
  display: flex;
}

#projects {
  margin: 2rem 5rem;
}

.project-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.project-role {
  font-size: 1.2rem;
}

.project-description {
  margin-top: 1.5rem;
}

.icons {
  font-size: 2rem;
  list-style: none;
  // padding: 1.8rem;
  padding-left: 0;
}

.icons > li {
  display: inline-block;
}
