// Specific CSS for your home-page
.container-home {
  background-color: #F6F4EB;
}

/*Phone styles*/
@media (max-width: 450px) {
  .container-home {
  margin: 0 auto;
  }

  #my-name {
    margin-left: 1rem;
  }

  .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 12px #ecd97b;
    margin-left: 20%;
    margin-bottom: 5%;
  }

  .card-product {
    display: block;
  }

  .about-container {
    display: block;
  }

  #my-info > h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  #my-info > p {
    font-size: 1rem;
  }

  .list-inline > li {
    margin: 10px;
    margin-top: 0;
  }

  .about-icons {
    font-size: 1.5rem;
    color: black;
  }

  .project-card {
    width: 80%;
  }

  .footer-icon-link {
    display: inline-flex;
    margin-top: 12px;
  }
  .line-footer {
    display: none;
  }
}
