// Specific CSS for your home-page
.container-home {
  background-color: #F6F4EB;
}

/*Phone styles*/
@media (max-width: 450px) {
  .container-home {
  margin: 0 auto;
  }

  .navbar-lewagon .navbar-collapse {
    position: fixed;
    top: 4.5em;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF9B82;
    text-align: center;
    padding-top: 3rem;
  }

  .navbar-lewagon .navbar-nav {
    font-size: 2rem;
  }

  #my-name {
    margin-left: 1rem;
  }

  #about {
    text-align: center;
  }

  .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 12px #ecd97b;
    margin-bottom: 5%;
  }

  .about-container {
    display: block;
  }

  #my-info > h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  #my-info > p {
    font-size: 1rem;
  }

  #my-info {
    text-align: center;
  }

  .list-inline > li {
    margin: 10px;
    margin-top: 10px;
  }

  .about-icons {
    font-size: 1.5rem;
    color: black;
  }

  .card-product {
    display: block;
    margin: 15px auto;
  }

  .project-photo {
    width: 100%;
    object-position: center;
    object-fit: cover;
    margin-bottom: 5%;
  }

  #projects {
    margin: 2rem 0.5rem;
  }

  .project-name {
    font-size: 2rem;
    font-weight: bold;
  }

  .project-role {
    font-size: 1.0rem;
  }

  .project-description {
    margin-top: 1.0rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .social-link {
    font-size: 1.0rem;
    color: black;
  }
}
